# FastAPI e servidor
fastapi>=0.109.0
uvicorn[standard]>=0.27.0

# Banco de dados
sqlalchemy>=2.0.25
psycopg[binary]>=3.1.0
alembic>=1.13.1

# Validação e configuração
pydantic>=2.5.3
pydantic-settings>=2.1.0
python-dotenv>=1.0.0

# Utilitários
python-multipart>=0.0.6
httpx>=0.26.0

# Gerar PDF
reportlab==4.2.5


# CORS (permitir frontend acessar)
# Já vem com FastAPI, não precisa instalar separado